# Port the proxy listens on (Render automatically supplies this via process.env.PORT)
PORT=8080

# Shockbyte Minecraft Server Destination
TARGET_HOST=157.85.94.60
TARGET_PORT=20929

# Logging Level: fatal, error, warn, info, debug, trace
LOG_LEVEL=info
